
<div>
        <label>Nutrition value:</label>
        <input/>
        <label>Weight:</label>
        <input/>
        <label>Color:</label>
        <input/>
        <select>
            <option value="">Selektuj boju</option>
        </select>
    
    </div>