<div>
 <h1>Pregled jednog limuna </h1>
</div>

<ul class="nav nav-pills">
        <li role="presentation" ><a [routerLink]="('/limuni/'+id+'/info')">Informacije</a></li>
        <li role="presentation" ><a [routerLink]="('/limuni/'+id+'/edit')">Editing</a></li>
        
      </ul>

<router-outlet></router-outlet>