<table class="table">
    <thead>
      <tr>
        <th >#</th>
        <th >#</th>
        <th >#</th>
        <th >#</th>
      </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let limun of model.limuni">
            <td>{{limun.id}}</td>   
            <td></td>   
            <td></td>   
            <td></td>   
        </tr>
    </tbody>
    
</table>
